
.container {
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 32px 48px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	width: 100%;
	max-width: 400px;
	box-shadow: 8px 8px 24px 0px rgb(175, 221, 232);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.container input {
	width: 100%;
	font-size: 20px;
	padding: 10px;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
}

.container input::placeholder {
	font-size: 12px;
	font-style: italic;
}

.container button {
	background-color: aqua;
	border: none;
	font-size: 20px;
	color: white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	margin: 10px 0;
}
